.logo{
	width: 50%;
}

.dropdown-item{
	margin: 100px;
}

.dropdowm:hover>.dropdown-menu{
	display: block;
	color: red;
}

.search {
    border: 1px solid blueviolet;
    border-radius: 22px;
    padding-left: 10px;
    height: 40px;
}

.search:focus{
	width: 300px;
}

